<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <title>Bills Show</title>
  <body>
    <h1>CALENDAR</h1>
    <table>
      <tr>
        <th>Due Date</th>
        <th>Amount</th>
        <th>Name</th>
      </tr>
      <%for(let i = 0; i < allBills.length; i++) {%>
        <tr>
          <td><%= allBills[i].dueDate %></td>
          <td>$<%= allBills[i].billAmount %></td>
          <td><%= allBills[i].name %></td>
          <td>
            <form method=POST action='/bills/<%= allBills[i].id %>/pay?_method=PUT&dueDate=<%= allBills[i].dueDate %>'>
              <input type="submit" value="PAY">
            </form>
          </td>
          <td>
            <form action="/bills/<%= allBills[i].id %>">
              <input type="submit" value="DETAILS">
            </form>
          </td>
          <td>
            <form method=POST action="/bills/<%= allBills[i].id %>?_method=DELETE">
                <input type='submit' value="Delete"/>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
    <a href="/bills/new">Add New Bill</a>
  </body>
</html>
