<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Bill</title>
  </head>
  <body>
    <a href="/bills">Back to the Bills</a>

    <h1><%= singleBill.name %></h1>
    <p>Name: <%= singleBill.name %></p>
    <p>Bill Amount: $<%= singleBill.billAmount %></p>
    <p>Due Date: <%= singleBill.dueDate %></p>
    <p>Pay Method: <%= singleBill.payMethod %></p>
    Autopay: <input type="checkbox" name="autopay"
      <% if (singleBill.autopay) { %>
          checked
      <% } %>
      disabled />
    <p>Notes: <%= singleBill.notes %>

    <form method=POST action="/bills/<%= index %>?_method=DELETE">
        <input type='submit' value="Delete" />
    </form>

     <a href="/bills/<%= index %>/edit">Edit Bill</a>

  </body>
</html>
