<%- include('../partials/head.ejs') %>
<title>Bills Show</title>

<!-- calendar -->
<link href='/fullcalendar/main.css' rel='stylesheet' />
<script src='/fullcalendar/main.js'></script>
<script type="text/javascript" src="/js/calendar.js"></script>

<body>
  <%- include('../partials/nav.ejs') %>
  <main class="home">
    <div id="bills-container">
      <a href="/bills/new" id="add-new-bill-btn" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add New Bill</a>
      <table id="bills-table" class="striped">
        <tr>
          <th>Due Date</th>
          <th>Amount</th>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <%for(let i = 0; i < allBills.length; i++) {%>
          <tr>
            <!-- compare local time with date in GMT 00:00:00 -->
            <td <% if(dayjs.utc(dayjs.utc().local().format("MMM DD, YYYY"), "MMM DD, YYYY") > dayjs.utc(allBills[i].dueDate)) { %>
              style="background-color:#FF0000"
            <% } %>

            <!-- shows due date in format mmm, dd, yyyy -->
            <%= dayjs.utc(allBills[i].dueDate).format("MMM DD, YYYY") %></td>
            <td>$<%= allBills[i].billAmount %></td>
            <td><%= allBills[i].name %></td>
            <td>
              <form method=POST action='/bills/<%= allBills[i].id %>/pay?_method=PUT&dueDate=<%= allBills[i].dueDate %>&paymentAmount=<%= allBills[i].billAmount %>&payMethod=<%= allBills[i].payMethod %>'>
                <input class="waves-effect waves-light btn" type="submit" value="PAY">
              </form>
            </td>
            <td>
              <form action="/bills/<%= allBills[i].id %>">
                <input class="waves-effect waves-light btn" type="submit" value="DETAILS">
              </form>
            </td>
            <td>
              <form method=POST action="/bills/<%= allBills[i].id %>?_method=DELETE">
                  <button class="delete-btn red lighten-2 btn">
                    <input type='hidden' value=""/><i class="material-icons center">delete</i>
                  </button>
              </form>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
    <div id='calendar'></div>
  </main>
  <%- include('../partials/footer.ejs') %>
