<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- calendar -->
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <script src='/fullcalendar/main.js'></script>
    <script type="text/javascript" src="/js/calendar.js"></script>

  </head>

  <title>Bills Show</title>

  <body>
    <%- include('../partials/nav.ejs') %>
    <div id='calendar'></div>
    <table>
      <tr>
        <th>Due Date</th>
        <th>Amount</th>
        <th>Name</th>
      </tr>
      <%for(let i = 0; i < allBills.length; i++) {%>
        <tr>
          <!-- compare local time with date in GMT 00:00:00 -->
          <td <% if(dayjs.utc(dayjs.utc().local().format("MMM DD, YYYY"), "MMM DD, YYYY") > dayjs.utc(allBills[i].dueDate)) { %>
            style="background-color:#FF0000"
          <% } %>

          ><%= dayjs.utc(allBills[i].dueDate).format("MMM DD, YYYY") %></td>
          <td>$<%= allBills[i].billAmount %></td>
          <td><%= allBills[i].name %></td>
          <td>
            <form method=POST action='/bills/<%= allBills[i].id %>/pay?_method=PUT&dueDate=<%= allBills[i].dueDate %>'>
              <input type="submit" value="PAY">
            </form>
          </td>
          <td>
            <form action="/bills/<%= allBills[i].id %>">
              <input type="submit" value="DETAILS">
            </form>
          </td>
          <td>
            <form method=POST action="/bills/<%= allBills[i].id %>?_method=DELETE">
                <input type='submit' value="Delete"/>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
    <a href="/bills/new">Add New Bill</a>
  </body>
</html>
