<%- include('../partials/head.ejs') %>
<title>Show Bill</title>
<body>
  <%- include('../partials/nav.ejs') %>
  <main>
    <div id="show-bill-container">
      <div class="section">
        <h5>Name:</h5>
        <p><b> <%= singleBill.name %> </b></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Due Date:</h5>
        <p><b> $<%= singleBill.billAmount %> </b></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Pay Method:</h5>
        <p><b> <%= singleBill.payMethod %> </b></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Notes:</h5>
        <p><b> <%= singleBill.notes %> </b></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Autopay:</h5>
        <p>
          <div class="switch">
            <label>
              Off
              <input type="checkbox" name="autopay"
                <% if (singleBill.autopay) { %>
                    checked
                <% } %>
                disabled
              />
              <span class="lever"></span>
              On
            </label>
          </div>
        </p>
      </div>

      <a href="/bills/<%= index %>/edit" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit Bill</a>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
