<%- include('../partials/head.ejs') %>
<title>Show Bill</title>
<body>
  <%- include('../partials/nav.ejs') %>
  <main class='bill-details'>
    <div id="show-bill-container">
      <div class="section">
        <h5>Name:</h5>
        <p><b> <%= singleBill.name %> </b></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Due Date:</h5>
        <p><b> $<%= singleBill.billAmount %> </b></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Pay Method:</h5>
        <p><b> <%= singleBill.payMethod %> </b></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Notes:</h5>
        <p><b> <%= singleBill.notes %> </b></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Autopay:</h5>
        <p>
          <div class="switch">
            <label>
              Off
              <input type="checkbox" name="autopay"
                <% if (singleBill.autopay) { %>
                    checked
                <% } %>
                disabled
              />
              <span class="lever"></span>
              On
            </label>
          </div>
        </p>
      </div>

      <a href="/bills/<%= index %>/edit" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit Bill</a>
    </div>
    <!-- if no payment history, hide the whole container -->
    <div id="payment-history-container" <% if(!singleBill.paymentHistory.length > 0) { %> hidden <% } %>>
      <h5>Payment History</h5>
      <table id="payment-history-table" class="striped centered">
        <tr>
          <th>Payment Day</th>
          <th>Payment Amount</th>
          <th>Method</th>
        </tr>
        <% for(let i = 0; i < singleBill.paymentHistory.length; i++) { %>
          <tr>
            <td><%= dayjs.utc(singleBill.paymentHistory[i].paymentDay).format("MMM DD, YYYY") %></td>
            <td>$<%= singleBill.paymentHistory[i].paymentAmount %></td>
            <td><%= singleBill.paymentHistory[i].payMethod %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
